@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    font-family: "Madimi One", sans-serif;
    color: #f0f8ff;
}

.card{
    background-color: blueviolet !important;
}