@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    font-family: "Madimi One", sans-serif;
    color: #f0f8ff;
}

.card{
    border: 2px solid  #FFC107 !important;
    background-color: transparent !important;
}

.card-title{
    color: #f0f8ff !important;
}

img{
    padding: 5px;
}

.contenedor-badges {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.bi{
    margin-right: 5px;
}

.bg-html {
    background-color: #e34f26;
}

.bg-css {
    background-color: #267fe4;
}

.bg-js {
    background-color: #f0db24ec;
}

.bg-bootstrap {
    background-color: #9a3cf3;
}

.bg-astro {
    background-color: #e32665;
}