---
// Card.astro
import Scripts from "./Scripts.astro";

interface Props {
    titulo: string;
    fecha: string;
    parrafo: string;
}

const astroProps = Astro.props as Props;
const { titulo, fecha, parrafo } = astroProps;
---

<!-- Card 1 -->
<div class="col-md-6">
    <div class="card experiencia-card mb-4">
        <div class="card-body">
            <!-- Título de la card 1 -->
            <h4 class="card-title">{titulo}</h4>
            <!-- Fecha de la card 1 -->
            <p class="small">{fecha}</p>
            <!-- Párrafo de la card 1 -->
            <p class="card-text">
                {parrafo}
            </p>
        </div>
    </div>
</div>

<style>
    .experiencia-card {
        position: relative;
        overflow: hidden;
        background-color: #515179;
        border: 2px solid #ffffff !important;
        transition: all ease-in-out 200ms;
        z-index: 1;
        min-height: 350px;
        &:hover {
            border: 2px solid #ffc107 !important;
        }
    }

    .experiencia-card:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #383855;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        border-top: 50px;
    }

    .experiencia-card:hover:after {
        height: 0; /* El fondo se llena al hacer hover */
    }
</style>
