<section class="container-fluid mt-5">
    <div class="container">
        <!-- Título de la sección -->
        <h2 class="text-start">Experiencia</h2>

        <!-- Dos cards -->
        <div class="row mt-4">
            <!-- Card 1 -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Título de la card 1 -->
                        <h3 class="card-title">Desarrollador Frontend</h3>
                        <!-- Fecha de la card 1 -->
                        <p class="small">
                            Período: Julio 2021 - Actualidad
                        </p>
                        <!-- Párrafo de la card 1 -->
                        <p class="card-text">
                            Desarrollador Frontend con formación en Programación Web (Front-end) en Instituto EMTECH. Experiencia destacada en Lexa Consulting, gestionando proyectos complejos utilizando HTML, CSS, JavaScript y Laravel. Enfoque en la creación de interfaces intuitivas y atractivas.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- Título de la card 2 -->
                        <h3 class="card-title">Freelancer</h3>
                        <!-- Fecha de la card 2 -->
                        <p class="small">
                            Período: Enero 2022 - Actualidad
                        </p>
                        <!-- Párrafo de la card 2 -->
                        <p class="card-text">
                            Reconocido a nivel nacional como finalista en la competencia de Sistema de Votación Remota en 2022. Certificaciones en Desarrollo Web Frontend (Emtech Institute) y Desarrollo Backend Alura One Oracle (Alura Latam). Entusiasta por contribuir a IntegraHR con habilidades frontend y capacidad para gestionar proyectos complejos.
                        </p>
                        <p class="card-text">
                            Atentamente,
                            <br>Irving Alejandro Hernández Ramírez
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin de la fila -->
    </div>
    <!-- Fin del contenedor interno -->
</section>
<!-- Fin del contenedor externo -->
