<!-- Spinner-->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>

<script>
    // Agrega la clase "loaded" al body cuando la página haya cargado completamente
    window.addEventListener("load", function () {
        document.body.classList.add("loaded");
    });
</script>

<style>
    /*TODO Spinner*/
    /* Estilos para la pantalla de carga */
    .loader-wrapper {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #121020;
        /* Fondo semi-transparente rojo */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        /* Capa superior para que esté por encima de otros elementos */
        transition: opacity 0.5s;
        /* Transición suave de la opacidad */
        opacity: 1;
        /* Opacidad inicial */
    }

    /* Estilos para el spinner de carga */
    .loader {
        border: 8px solid #f3f3f3;
        /* Círculo exterior gris claro */
        border-top: 8px solid #2f2953;
        /* Círculo superior azul */
        border-radius: 50%;
        /* Borde redondeado para crear un círculo */
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        /* Animación de rotación */
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
            /* Rotación inicial */
        }

        100% {
            transform: rotate(360deg);
            /* Rotación completa */
        }
    }

    /* Ocultar la pantalla de carga después de que la página haya cargado */
    body:not(.loaded) .loader-wrapper {
        opacity: 1;
    }

    /* Mostrar el contenido de la página después de cargar completamente */
    body.loaded .loader-wrapper {
        opacity: 0;
        pointer-events: none;
        /* Permitir interacción con elementos debajo de la pantalla de carga */
    }

    /* Contenido de la página */
    #content {
        display: none;
        /* Inicialmente oculto */
    }

    body.loaded #content {
        display: block;
    }
</style>
