---
interface Props {
  icono: string;
  nombre: string;
  color: string;
}

const astroProps = Astro.props as Props;
const { color, icono, nombre } = astroProps;
---

<!-- Tecnología 3 -->
<div class=`tecnologia-box ${color}`>
  <span class=`tecnologia-icon text-success ${icono}`></span>
  <h6 class="tecnologia-nombre">{nombre}</h6>
</div>

<style>
  .tecnologia-nombre {
    margin-top: 8px;
  }

  .bix {
    margin-right: 10px;
    color: #fff !important;
  }

  /* HTML */
  .bg-html {
    background: linear-gradient(45deg, #e44d26, #f16529);
  }

  /* CSS */
  .bg-css {
    background: linear-gradient(45deg, #264de4, #2965f1);
  }

  /* JavaScript */
  .bg-js {
    background: linear-gradient(45deg, #f0db4f, #ffd700);
  }

  /* React */
  .bg-react {
    background: linear-gradient(45deg, #61dafb, #00bfff);
  }

  /* Node.js */
  .bg-nodejs {
    background: linear-gradient(45deg, #8cc84b, #6db35a);
  }

  /* Angular */
  .bg-angular {
    background: linear-gradient(45deg, #dd0031, #c3002f);
  }

  /* Vue.js */
  .bg-vue {
    background: linear-gradient(45deg, #41b883, #34495e);
  }

  /* Sass */
  .bg-sass {
    background: linear-gradient(45deg, #cc6699, #cd6799);
  }

  /* jQuery */
  .bg-jquery {
    background: linear-gradient(45deg, #0769ad, #4e92a5);
  }

  /* Bootstrap 5 */
  .bg-bootstrap {
    background: linear-gradient(45deg, #7952b3, #563d7c);
  }

  /* Astro Framework */
  .bg-astro {
    background: linear-gradient(45deg, #f00070, #cc004e);
  }

  /* Git */
  .bg-git {
    background: linear-gradient(45deg, #f05032, #d14029);
  }

  /* GitHub */
  .bg-github {
    background: linear-gradient(45deg, #181717, #24292e);
  }
</style>
